// creating the global variables
$primary-color: #444;
// rgba(112, 112, 112, 0.452);
$secondary-color: #0dffeb;
//rgb(255, 80, 80);
$show_home_image:true;
$home_image:url('../../images/bg2.jpg');
$background-opacity:0.9;



// Creating a function that we can inherite from in the future
@mixin easeOut {
    transition: all 0.6s ease-out;
}

// Creating a mixin for the background
@mixin background {

    //checking if the bg image is enable
    @if $show_home_image {

        // taking the element which has the id of bg-img
        &#bg-img {
            background: $home_image;
            background-attachment: fixed;
            background-size: cover;

            &:after {
                content: '';
                //absolute means covering the entire body
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                // adding the z-index to allow the over lay to be behind the content on the page
                // in order to make the overlay in back then the z-index should be in the negative
                z-index: -1;
                background: rgba($primary-color, $background-opacity);
            }
        }
    }

}


//Adding media Query mixins/functions.
//The purpose of these mixins/functions is to make the website more repsonsive regardless of the base resultion of the user's device


@mixin mediaSm {

    //adding the media query that only apply when the screen is 500px or less
    @media screen and (max-width: 500px) {
        @content;
    }
}



//medium displays
@mixin mediaMd {

    //adding the media query that only apply when the screen is 768px or less
    @media screen and (max-width: 768px) {
        @content;
    }
}



//large displays
@mixin mediaLg {

    @media screen and (min-width: 769px) and (max-width: 1170px) {
        @content;
    }
}




@mixin mediaXL {

    //adding the media query that only apply when the screen is 1171px or greater
    @media screen and (max-width: 1171px) {
        @content;
    }
}