// importing the needed config, which is found in the partial sass file (starts with _ ) 
@import 'config';
@import 'menu';



// creating a border box for all(*) the content in the html.css

* {
    // border-box will make the elements not be effected by the padding with in the box
    box-sizing: border-box;
}


body {
    // Calling the background mixin inside the body
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
    //color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    // changing the line height between each line
    line-height: 1.5;
}


// Adding the style for the heading
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    //setting the lg-heading for only the heading that contains it, so we use the & sign
    &.lg-heading {
        // 1rem unit is the multiplier of the html font size (default size= 16 px)
        //1 rem = 16 px,  
        font-size: 6rem;
    }

    //setting the sm-heading for only the headings that contains it, so we use the & sign
    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5);

    }

}

a {
    // creating the color for the links
    color: #ffffff;
    text-decoration: none;
}

// creating the style for the header
header {
    // setting the position to fixed so that if we scroll down the header will ALWAYS be on the top.
    // Fixed meaning glued.
    position: fixed;
    // making the header more viewable and stand out more regardless of what's behind it
    // if we do z-index 1 then that can make the header less solid 
    // The bigger the z-index is the closer the element is to us.
    z-index: 2;
    width: 100%;
}


// creating the style of the last name, which is the class text-secondary
.text-secondary {
    color: $secondary-color;
}


//Adding the style for the main tag
main {
    padding: 4rem;
    //height: 100%;
    // this allows us to make a sticky footer such that it doesn't move up there is no jobs
    min-height: calc(100vh - 60px);

    // creating the style for the icons which are nested within the main tag in the index.html file
    // since we are nesting the icons div inside the main class, then that means the icons div will only be effected if they are in the main tag
    .icons {
        margin-top: 1rem;

        // for each icon that has an a-tag we will style it
        a {
            padding: 0.4rem;
            //calling the mixin function
            // Adding in a transition effect for hovering each icon
            //adding transition to everything that is transitionable
            @include easeOut();

            //adding the hover color for each of the a-tag 
            //this is the same as a:hover in regular css
            &:hover {
                color: $secondary-color;

            }

        }
    }

    //using the & means for any main element if it contains the #home id, then it will be effected by the style with in the {}
    &#home {
        // removing the scroll bar with in the main page
        overflow: hidden;

        h1 {
            margin-top: 20vh;
        }
    }
}



//Creating the style for the grid, whihc is about me,jobs, projects, etc
.about-info {
    display: grid;
    // creating the grid spacing
    grid-gap: 30px;
    grid-template-areas:
        'bioimage bio bio'
        'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);




    // creating the bio image gird area
    .bio-image {
        grid-area: bioimage;
        margin: auto;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        border: $secondary-color 4px solid;
    }

    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }

    .job-1 {
        grid-area: job1;
    }

    .job-2 {
        grid-area: job2;
    }

    .job-3 {
        grid-area: job3;
    }

    // styling the jobs

    .job {
        background: lighten($primary-color, 5);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
    }
}



//creatiing the work/projects style
.projects {
    display: grid;
    grid-gap: 0.7rem;
    //overflow: hidden;

    //making the grid 3 fractional accross
    grid-template-columns: repeat(5, 1fr);

    img {
        //shrinking the images
        //width: 250px;
        width: 100%;
        //height: 250px;
        border: 3px #fff solid;

        //adding a hover effect for the images
        &:hover {
            opacity: 0.5;
            border-color: $secondary-color;
            //creating the transition for hovering the images
            @include easeOut;
        }
    }
}


//creating the button style
.btn {
    display: block;
    //size: 10px;
    //width: 250px;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;

    //adding hover effect for the buttons
    &:hover {
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }
}


// creating the dark button
.btn-dark {
    //extending the btn class
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;
}


//creating the light button

.btn-light {
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;
}


//creating the style for the footer
#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 60px;
}

//we import the mobile mixin after the css, becuase we want the style first before the media queries to kick in
@import 'mobile';